{% extends parent_template|default:"user/base_user.html" %}

{% block title %}Reset Password - {{ block.super }}{% endblock %}

{% block content %}
  {% if validlink %}
    {% include "user/field_errors.html" %}
    <div class="alert alert-info" role="alert">
      <h4><i class="fas fa-unlock-alt"></i> Reminder</h4>
      <ul class="helptext" style="padding-left:5px; list-style: none;">
        <li>Your password cannot be too similar to your other personal information.</li>
        <li>Your password cannot be a commonly used password.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password must contain at least:
          <ul>
            <li>1 uppercase letter, A-Z</li>
            <li>1 lowercase letter, a-z</li>
            <li>1 number, 0-9</li>
            <li>1 symbol, ()[]{}|\`~!@#$%^&amp;*_-+=;:'",<>./?</li>
          </ul>
        </li>
      </ul>
    </div>

    <h2>Enter your new password</h2>
    <form action="{{ request.path }}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_new_password1">New password:</label>
        <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
      </div>

      <div class="form-group">
        <label for="id_new_password2">Repeat your new password:</label>
        <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
      </div>

      <button class="btn btn-default" type="submit">Save New Password</button>
    </form>
  {% else %}
    <div class="alert alert-danger" role="alert">
      <p><i class="fas fa-exclamation"></i> This reset link is no longer valid.</p>
      <p>Please request again a new reset for your password.</p>
    </div>
    <a href="{% url 'dj-auth:pw_reset_start' %}" type="button" class="btn btn-default">
      Request again
    </a>
  {% endif %}
{% endblock %}
