{% extends parent_template|default:"user/base_user.html" %}

{% block title %}Change Password - {{ block.super }}{% endblock %}

{% block content %}
  {% include "user/field_errors.html" %}

  <h2>Change Password</h2>
  <form action="{% url 'dj-auth:pw_change' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_old_password">Current password:</label>
      <input type="password" class="form-control" name="old_password" autofocus required id="id_old_password">
    </div>

    <div class="form-group">
      <label for="id_new_password1">New password:</label>
      <input type="password" class="form-control" name="new_password1" required id="id_new_password1">
      <ul class="helptext" style="padding-left:5px; list-style: none; font-style: italic;">
        <li>Your password cannot be too similar to your other personal information.</li>
        <li>Your password cannot be a commonly used password.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password must contain at least:
          <ul>
            <li>1 uppercase letter, A-Z</li>
            <li>1 lowercase letter, a-z</li>
            <li>1 number, 0-9, and</li>
            <li>1 symbol, ()[]{}|\`~!@#$%^&amp;*_-+=;:'",<>./?</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="id_new_password2">New password confirmation:</label>
      <input type="password" class="form-control" name="new_password2" required id="id_new_password2">
    </div>

    <button type="submit" class="btn btn-default">Change Password</button>
  </form>
{% endblock %}
