{% extends parent_template|default:"user/base_user.html" %}
{% load static %}

{% block title %}Reset Password - {{ block.super }}{% endblock %}

{% block content %}
  {% include "user/field_errors.html" %}
  <h2>Reset your password by email</h2>
  <form action="{% url 'dj-auth:pw_reset_start' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_email">The email address you had used to setup your account:</label>
      <input type="email" class="form-control" name="email" required id="id_email">
    </div>
    <button type="submit" class="btn btn-default" id="send">Submit</button>
  </form>
{% endblock %}

{% block extra_js %}
{% endblock %}
