{% extends parent_template|default:"user/base_user.html" %}
{% load static %}

{% block title %}Create Account - {{ block.super }}{% endblock %}

{% block extra_css %}
  <style>
    .helptext {
      font-style: italic;
      color: darkslategray;
    }
  </style>
{% endblock %}

{% block content %}
  {% include "user/field_errors.html" %}

  <div class="alert alert-info">
    <p>
      <i class="fas fa-exclamation"></i>&nbsp;
      All fields, except for the profile photo, are compulsory.
      The ID field is your student registration number (<em>e.g.</em>,
      matriculation number), or enter 0 if you do not have one.
    </p>
  </div>

  <h2>Register New User</h2>
  <form action="{% url 'dj-auth:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="avatar-panel">
      <img src="{% static 'organizer/img/anon.png' %}">

      <p><strong>Upload your profile photo (0.5 Mb file size limit):</strong><br>
      <em>Photos will be scaled to no more than 200 pixels wide and tall.</em></p>
      <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
              Browse&hellip; <input type="file" name="avatar" id="id_avatar" style="display: none;" accept="image/*">
            </span>
        </label>
        <label for="filename"></label>
        <input type="text" class="form-control" id="filename" readonly>
      </div>
      <div style="text-align: right">
        <label for="id_remove_avatar" style="vertical-align: middle;">
          <i class="fa fa-ban" style="color:red"></i> Remove profile photo
        </label>
        <input type="checkbox" id="id_remove_avatar" name="remove_avatar" {% if remove_avatar %}checked{% endif %}>
      </div>
      <p><span class="err" id="err_msg" style="color: red; font-style: italic"></span></p>
    </div>

    <div class="form-group">
      <label for="id_username">Login username:</label>
      <input type="text" class="form-control" name="username" maxlength="150" autofocus required id="id_username" value="{{ username }}">
      <span class="helptext">Username must only be ONE word. 150 characters or fewer. Only letters, digits, and
        selected symbols (@, ., +, -, and _) are allowed.</span>
    </div>

    <div class="form-group">
      <label for="id_first_name">ID (identification no.):</label>
      <input type="text" class="form-control" name="first_name" maxlength="30" required id="id_first_name" value="{{ first_name }}">
      <span class="helptext">30 characters or fewer.</span>
    </div>

    <div class="form-group">
      <label for="id_last_name">Full name:</label>
      <input type="text" class="form-control" name="last_name" maxlength="150" required id="id_last_name" value="{{ last_name }}">
      <span class="helptext">150 characters or fewer.</span>
    </div>

    <div class="form-group">
      <label for="id_email">Email address:</label>
      <input type="email" class="form-control" name="email" maxlength="254" required id="id_email" value="{{ email }}">
      <span class="helptext">your_email@domain.com</span>
      <div class="email-status" id="email_status_text"></div>
    </div>

    <div class="form-group">
      <label for="id_password1">Login password:</label>
      <input type="password" class="form-control" name="password1" required id="id_password1">
      <ul class="helptext" style="padding-left:5px; list-style: none;">
        <li>Your password cannot be too similar to your other personal information.</li>
        <li>Your password cannot be a commonly used password.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password must contain at least:
          <ul>
            <li>1 uppercase letter, A-Z</li>
            <li>1 lowercase letter, a-z</li>
            <li>1 number, 0-9, and</li>
            <li>1 symbol, ()[]{}|\`~!@#$%^&amp;*_-+=;:'",<>./?</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="id_password2">Login password confirmation:</label>
      <input type="password" class="form-control" name="password2" required id="id_password2">
      <span class="helptext">Enter the same password as before, for verification.</span>
    </div>

    <div class="g-recaptcha" data-sitekey="6LfiYkcUAAAAAGp5-MHProcX4lTGRs8Vi6zYt5Ut"></div>
    <p style="margin-top: 10px;"><button type="submit" class="btn btn-default" id="send">Create New Account</button></p>
  </form>

  <p style="float: right;font-size: 90%">
    <i class="fas fa-key"></i> <a href="{% url 'dj-auth:resend_activation' %}"><em>Lost activation email?</em></a>
  </p>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src='https://www.google.com/recaptcha/api.js?hl=en'></script>
  <script>
    var remove_avatar = $('#id_remove_avatar');
    var avatar_filename = $('#filename');
    var avatar_inputfile = $('#id_avatar');

    remove_avatar.click(function() {
      if ($(this).prop("checked")) {
        avatar_inputfile.val('');
        avatar_filename.val('');
      }
      $('#err_msg').html('');
    });

    $(':file').on('fileselect', function (event, numFiles, label) {
      var log = numFiles > 1 ? numFiles + ' files selected' : label;
      if (avatar_filename.length) {
        avatar_filename.val(log);
        remove_avatar.prop("checked", false);
      } else {
        if (log) alert(log);
      }
    });

    $(document).on('change', ':file', function () {
      var input = $(this);
      var numFiles = input.get(0).files ? input.get(0).files.length : 1;
      var filesize = input.get(0).files[0].size;
      if (filesize > 0.5 * 1024 * 1024) {
        var sz = (filesize / (1024 * 1024)).toFixed(1);
        var name = input.get(0).files[0].name;
        $('#err_msg').html('"'+ name + '" is too large (' + sz + ' Mb)! Limit is 0.5 Mb.');
        input.val('');
      } else {
        $('#err_msg').html('');
        var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
      }
    });
  </script>
{% endblock %}
