.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 15px;
}

.btn-circle-down {
    padding-top: 6px;
}

.btn-circle-up {
    padding-bottom: 8px;
}
