.markItUp .markItUpButton1 a {
	background-image:url(img/h1.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(img/h2.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(img/h3.png);
}
.markItUp .markItUpButton4 a {
	background-image:url(img/h4.png);
}
.markItUp .markItUpButton5 a {
	background-image:url(img/h5.png);
}
.markItUp .markItUpButton6 a {
	background-image:url(img/h6.png);
}
